extends layout

block content
  p(id="result") Currency value is: #{amount} in #{currency_type}
  form
    label(for="amount") ENTER IN USD 
    input(type="text", name="amount", id="amount")
    br
    section
      input(id="euro_btn", type="button", value="Euro")
      input(id="pound_btn", type="button", value="Pound")
      input(id="pop_btn", type="button", value="Pop")
      input(id="reset_btn", type="button", value="Reset")
      input(id="history_btn", type="button", value="History")
  section(id="history")