doctype html
html
  head
    title= title
    link(rel="stylesheet", href="style.css", type="text/css")
  body
    nav
      div(class='nav-bar')
        a(href="/", class='nav-link') Home
        a(href="/view", class='nav-link') View User Activity 
        a(href="/reset", class='nav-link') Reset
    block content
