extends layout

block content
  div(class='pcdontent centered')
    h1= title
    form(action="/match", method="post") 
      label(for='username') Username: 
      input(type="text", name="username", required="true")
      br
      br
      input(type="submit", value="Match")
