.pgcontent {
  max-width: 80%;
  margin: 0 auto 0 auto;
  padding-top: 1rem;
}

.centered {
  text-align: center;
}

form {
  margin: 1rem 1rem 1rem 1rem;
}

.nav-buttons {
  display: inline-flex;
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
}